<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Diskplayer Recorder</title>
</head>

<body>
<form action="/record" method="post">
    <h1>Diskplayer Recorder</h1>
    <section>
        <p>
            <h3>lsblk output:</h3>
            <pre>
{{printf "%s" .Lsblk}}
            </pre>
        </p>
    </section>
    <section>
        <h3>Recorder parameters</h3>
        <p>
            <label for="device_path">
                <span>Device path: </span>
            </label>
            <input type="text" id="device_path" name="device_path">
        </p>
        <p>
            <label for="web_url">
                <span>Spotify web URL: </span>
            </label>
            <input type="text" id="web_url" name="web_url">
        </p>
    </section>
    <section>
        <p>
            <button type="submit">Record disk</button>
        </p>
    </section>
</form>
</body>

</html>
